{% extends 'loginregister/home.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
  
    <br>
    <br>
    <br>
    <br>
    <br>
</head>
<html>
<body>
  <form method="post" class="form-horizontal" id="myForm">
    {% csrf_token %}
    <div class="card mx-auto" style="max-width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">Agregar un nuevo precio de actividad</h5>
            {{ form | crispy }}
            <button class="btn btn-sm btn-primary float-end" type="submit" id="btnAgregarPrecio">Agregar precio nuevo</button>
        </div>
    </div>
</form>

<script>
    document.getElementById("myForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Evitar que el formulario se envíe de forma predeterminada

        // Realizar la solicitud AJAX
        fetch("{% url 'prices_add' %}", {
            method: 'POST',
            body: new FormData(document.getElementById("myForm")),
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Solicitud exitosa, muestra SweetAlert2
                Swal.fire({
                    icon: 'success',
                    title: 'Éxito',
                    text: 'El precio nuevo se ha cargado correctamente.',
                }).then(() => {
                    // Redirigir a la nueva URL
                    window.location.href = "{% url 'prices_list' %}";
                });
            } else {
                // Manejar el caso en que la solicitud no sea exitosa, si es necesario
            }
        });
    });

    // Función para obtener el token CSRF de las cookies
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>








</body>
</html>

{% endblock %}