
body {
	width: 100vw;
	height: 100vh;
    background: linear-gradient(-50deg, #6f7a73, #4f554c, #262e29);
	background-repeat: no-repeat;
    }


div#CabeceraLogin {

	height: 22px;
    width: 956px;
	background: linear-gradient(#ff0808, #e43139, #e65e5e, #f8dada);
	margin-right: 1px;
	margin-left: 1px;
	padding: 2px;
	box-sizing: border-box;
	border-radius: 10px 10px 0px 0px;

}

#HomeLogin {

	height: 600px;
    width: 960px;
	background-color: white ;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	padding: 1px;
	box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
}

div#CuadroImagen {
	height: 571px;
    width: 450px;
    float: right;
    background-color: rgb(245, 243, 243);
    margin-top: 3px;
	border-radius: 0px 0px 15px 0px;

}

#ImagenEntrada{

	border-bottom-right-radius: 10px;
	height:571px;
	width:100%;
}

div#Formulario {

	width: 505px;
	height: 571px ;
	background-color: rgb(255, 255, 255);
	margin-top: 3px;
	border-bottom-left-radius: 10px;
}

label{
	display: inline;
	color: rgb(10, 10, 10);
	margin-bottom: 10px;
	margin-left: 120px;
	
}

#Usuario{
	display: block;
	width: 270px;
	height: 20px;
	Margin-bottom: 15px;
	margin-left: 120px;
	margin-top: 2px;
}

#Contraseña{
	margin-left: 120px;
	display: block;
	width: 270px;
	height: 20px;
	margin-bottom: 15px;
	margin-top: 2px;
}

form #LinkContraseña{
	font-size: 14px;
	color: black;
	margin: 10px 0px 50px 268px;
	font-weight: bold ;
}

#LinkContraseña:hover{
	text-decoration: none;
	transition: 0.2s;
	color: darkslateblue;
}

#button{
	display: block;
	width: 276px;
	height: 25px;
	margin-left: 120px;
	margin-top: 20px;
	color:white;
	background-color: rgb(23, 70, 23); 
	border-radius: 5px 5px 5px 5px; 
}

#button:hover{
	transition: 0.2s;
	background-color:#065e1f;
	color: #afbdb3;
	cursor: pointer;
}

#ImagenLogo{

	margin: 50px 0px 0px 190px;
	width: 120px;
	height: 120px;
	
}

#TextoLogo{
	text-align: center;
	text-shadow: 1px 2px 3px grey;


}


@media screen and (max-width: 480px) { /*Inicio breakpoint smarphones*/

 div#CabeceraLogin {

	height: 22px;
    width: 100%;
	background: linear-gradient(#ff0808, #e43139, #e65e5e, #f8dada);
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 5px;
	padding: 1px;
	box-sizing: border-box;
	border-radius: 10px 10px 0px 0px;

}

 #HomeLogin {

	height: 500px;
    width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	padding: 1px;
	box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
}
div#CuadroImagen {
	display: none;
	height: 0;
    width: 0;
    float: right;
    background-color: rgb(255, 255, 255);
    margin-top: 1;
	border-radius: 0px 0px 1px 0px;

}

#ImagenEntrada{

	border-bottom-right-radius: 10px;
	height:0px;
	width: 0px;
}


 div#Formulario {
	width: 100%;
	height: 461px;
	background-color: rgb(255, 255, 255);
	margin-top: 3px;
	border-bottom-left-radius: 10px;
}

 label{
	display: inline;
	color: rgb(10, 10, 10);
	margin-bottom: 10px;
	margin-left: 20px;
	font-weight: bold ;
	
}

 #Usuario{
	display: block;
	width: 270px;
	height: 25px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
}

 #Contraseña{
	margin-left: auto;
	margin-right: auto;
	display:block;
	width: 270px;
	height: 25px;
	margin-bottom: 15px;
	margin-top: 2px;
}

 form #LinkContraseña{
	display: inline-block;
	font-size: 14px;
	color: black;
	margin: 10px auto 30px 25px;
	font-weight: bold ;
}

 #LinkContraseña:hover{
	text-decoration: none;
	transition: 0.2s;
	color: darkslateblue;
}

 #button{
	display: block;
	width: 276px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	color:white;
	background-color: rgb(23, 70, 23); 
	border-radius: 5px 5px 5px 5px; 
}

 #button:hover{
	transition: 0.2s;
	background-color:#065e1f;
	color: #afbdb3;
	cursor: pointer;
}

 #ImagenLogo{
    display: block;
	margin: 4px auto ;
	width: 100px;
	height: 100px;
	
}

 #TextoLogo{
	text-align: center;
	text-shadow: 1px 2px 3px grey;
	font-size: 16px;


}

}/*Finalizacion breakpoint smarphones*/

@media screen and (min-width: 481px) and (max-width: 990px) { /*Inicio breakpoint tablets*/
	div#CabeceraLogin {

		height: 30px;
		width: 100%;
		background: linear-gradient(#ff0808, #e43139, #e65e5e, #f8dada);
		margin-right: 0px;
		margin-left: 0px;
		margin-bottom: 5px;
		padding: 1px;
		box-sizing: border-box;
		border-radius: 10px 10px 0px 0px;
	
	}
	
	 #HomeLogin {
	
		height: 500px;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
		padding: 1px;
		box-sizing: border-box;
		border-radius: 10px 10px 10px 10px;
	}
	div#CuadroImagen {
		display: none;
		height: 0;
		width: 0;
		float: right;
		background-color: rgb(255, 255, 255);
		margin-top: 1;
		border-radius: 0px 0px 1px 0px;
	
	}
	
	#ImagenEntrada{
	
		border-bottom-right-radius: 10px;
		height:0px;
		width: 0px;
	}
	
	
	 div#Formulario {
		width: 100%;
		height: 461px;
		background-color: rgb(255, 255, 255);
		margin-top: 3px;
		border-bottom-left-radius: 10px;
	}
	
	 label{
		display: inline;
		color: rgb(10, 10, 10);
		margin-bottom: 10px;
		margin-left: 20px;
		font-weight: bold ;
		
	}
	
	 #Usuario{
		display: block;
		width: 270px;
		height: 20px;
		margin-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2px;
	}
	
	 #Contraseña{
		margin-left: auto;
		margin-right: auto;
		display:block;
		width: 270px;
		height: 20px;
		margin-bottom: 15px;
		margin-top: 2px;
	}
	
	 form #LinkContraseña{
		display: inline-block;
		font-size: 14px;
		color: black;
		margin: 10px auto 10px 25px;
		font-weight: bold ;
	}
	
	 #LinkContraseña:hover{
		text-decoration: none;
		transition: 0.2s;
		color: darkslateblue;
	}
	
	 #button{
		display: block;
		width: 276px;
		height: 25px;
		margin-left: auto;
		margin-right: auto;
		color:white;
		background-color: rgb(23, 70, 23); 
		border-radius: 5px 5px 5px 5px; 
	}
	
	 #button:hover{
		transition: 0.2s;
		background-color:#065e1f;
		color: #afbdb3;
		cursor: pointer;
	}
	
	 #ImagenLogo{
		display: block;
		margin: 4px auto ;
		width: 80px;
		height: 80px;
		
	}
	
	 #TextoLogo{
		text-align: center;
		text-shadow: 1px 2px 3px grey;
		font-size: 16px;
	
	
	}

	}/*Finalizacion breakpoint tablets*/

	@media screen and (min-width: 1700px) { /*Inicio breakpoint Monitores*/

		body {
			width: 100vw;
			height: 100vh;
			background: linear-gradient(-50deg, #6f7a73, #4f554c, #262e29);
			background-repeat: no-repeat;
			}
		
		
		div#CabeceraLogin {
		
			height: 60px;
			width: 100%;
			background: linear-gradient(#ff0808, #e43139, #e65e5e, #f8dada);
			margin-right: 1px;
			margin-left: 1px;
			padding: 2px;
			box-sizing: border-box;
			border-radius: 10px 10px 0px 0px;
		
		}
		
		#HomeLogin {
		
			height: 740px;
			width: 80%;
			background-color: white ;
			margin-right: auto;
			margin-left: auto;
			margin-top: 40px;
			padding: 1px;
			box-sizing: border-box;
			border-radius: 10px 10px 10px 10px;
		}
		
		div#CuadroImagen {
			height: 672px;
			width: 600px;
			float: right;
			background-color: red;
			margin-top: 3px;
			border-radius: 0px 0px 15px 0px;
		
		}
		
		#ImagenEntrada{
		
			border-bottom-right-radius: 10px;
			height:672px;
			width:100%;
		}
		
		div#Formulario {
		
			width: 585px;
			height: 671px ;
			margin-left: 15%;
			background-color: rgb(255, 255, 255);
			margin-top: 3px;
			border-bottom-left-radius: 10px;
		}
		
		label{
			display: inline;
			color: rgb(10, 10, 10);
			margin-bottom: 30px;
			margin-left: 120px;
			font-size: 18px;
			
		}
		
		#Usuario{
			display: block;
			width: 300px;
			height: 35px;
			Margin-bottom: 15px;
			margin-left: 120px;
			margin-top: 2px;
		}
		
		#Contraseña{
			margin-left: 120px;
			display: block;
			width: 300px;
			height: 35px;
			margin-bottom: 15px;
			margin-top: 2px;
		}
		
		form #LinkContraseña{
			font-size: 19px;
			color: black;
			margin: 10px 0px 50px 268px;
			font-weight: bold ;
		}
		
		#LinkContraseña:hover{
			text-decoration: none;
			transition: 0.2s;
			color: darkslateblue;
		}
		
		#button{
			display: block;
			width: 300px;
			height: 40px;
			margin-left: 120px;
			margin-top: 20px;
			color:white;
			background-color: rgb(23, 70, 23); 
			border-radius: 5px 5px 5px 5px; 
		}
		
		#button:hover{
			transition: 0.2s;
			background-color:#065e1f;
			color: #afbdb3;
			cursor: pointer;
		}
		
		#ImagenLogo{
		
			margin: 50px 0px 0px 200px;
			width: 170px;
			height: 170px;
			
		}
		
		#TextoLogo{
			text-align: center;
			text-shadow: 1px 2px 3px grey;
			font-size: 22px;
		
		
		}

		#ImagenUsuario{

			height: 30px;
			width: 30px;
			padding: 2px;
		}
	
	}/*Finalizacion breakpoint Monitores*/