*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
 
.historia{
    font-size: 4rem;
}
.acercaNosotros{
    font-size: 1rem;
}
.historiaParrafo{
    font-weight: bold;
    font-size: 1rem;
    padding: 50px;
}

.homeSec{
    display: flex;
    flex-wrap: wrap;
}

body {
    background-color: #d1d6c1;
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    background-image: url('https://github.com/MarcoNu97/Proyecto_CAJL/blob/main/Interfaz%20Principal/ImagenesHome/Interior%20del%20Club.jpg?raw=true');
    background-size: cover; /* Escalar la imagen para cubrir toda la pantalla */
    background-position: center; /* Centrar la imagen */
    background-attachment: fixed; /* Fijar el fondo para que se mantenga en su lugar al desplazarse */
    background-repeat: no-repeat;
}


nav {
    background: linear-gradient(#fcfcfc, #ff1717);
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    width: 100%;
    height: 82px;
    border-radius: 0px 0px 15px 15px;
    transition: top 0.3s;
    z-index: 999; /* Asegura que la barra de navegación esté en la parte superior */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #363131;
}

.content {
    margin-top: 82px;
}

.centrado {
    display: grid;
    justify-content: center;
    align-items: center;
}

#ContenedorMenu {
    background-color: #f3f3f3;
    background-repeat: no-repeat;
    height: 77px;
    display: grid;
    grid-template-columns: 80px 2.5fr 1fr 1fr 1.5fr 1fr 0.2fr;
    grid-template-rows: 100%;
    margin-top: 0px;
    padding: 0px;
    border-radius: 0px 0px 20px 20px;
}

.ItemMenu {
     list-style-type: none;
     width: 6rem;
     height: 98%;

  }


  .h:hover {

    background-color: transparent;
    color:  #f71919;
    transition: all 0.3s;
    border-radius: 0;

  }

   .M2 {
        font-weight: bold;
        font-size: 18px;
        width: 8rem;
  } 

.LogoMenu {

        height: 65px;

}

.Logo {
    border-radius: 0px 0px 0px 20px;
}

.Texto {
    padding: 0;
    font-size: 18px;
    width: 17rem;
    font-weight: bold;
    color: #000000;
    text-shadow: 1px 2px 3px grey;
}

.Tx{
    font-size: 19px;
    width: 19rem;
    margin-top: 25%;

}

.CerrarS{
    width: 10rem;
}


.LinkGuia {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.LinkGuia:hover {
    color: rgb(156, 144, 231);
    transition: all 0.3s;
    text-decoration: underline;
}


.Home_container {

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
       
}

.ImagenHome {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 15rem;
    height: 17rem;

}

.PalabrasHome {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #f01515;
    margin-bottom: 5px;
}

/* Estilos del botón del menú desplegable */
/* ---- */
#preciosLink {
    width: 157px; /* Ajusta el ancho a tu preferencia */
    height: 40px; /* Ajusta la altura a tu preferencia */
    line-height: 30px; /* Centra el texto verticalmente */
    text-align: start;
    background-color: transparent;
    color: #363131;
    transition: all 0.3s;
    border-radius: 2px; /* Puedes ajustar esto para bordes redondeados */
    font-size: 13px; /* Tamaño del texto */
    text-decoration: none; /* Quita la decoración de enlace */
}

#preciosLink:hover{
    background-color: #dbd9d9;
    color: #f01515;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 157px;
    height: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 167px;
    margin-left: 0;
    border-radius: 0 0 5px 5px;

}

.dropdown-content a {
    color: black;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
}

/* Cambiar el color de fondo de los enlaces cuando pasas el ratón sobre ellos */
.dropdown-content a:hover {
    background-color: #dcdada;
}


.cobrosLink {
    width: 150px; /* Ajusta el ancho a tu preferencia */
    height: 40px; /* Ajusta la altura a tu preferencia */
    line-height: 30px; /* Centra el texto verticalmente */
    text-align: start;
    background-color: transparent;
    color: #363131;
    transition: all 0.3s;
    border-radius: 2px; /* Puedes ajustar esto para bordes redondeados */
    font-size: 13px; /* Tamaño del texto */
    text-decoration: none; /* Quita la decoración de enlace */
}

.cobrosLink:hover{
    background-color: #dbd9d9;
    color: #f01515;
}

/* -- */
/* Estilos para los enlaces del menú desplegable */
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    height: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 167px;
    margin-left: 30px;
    border-radius: 0 0 5px 5px;

}

.dropdown-content2 a {
    color: black;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
}

/* Cambiar el color de fondo de los enlaces cuando pasas el ratón sobre ellos */
.dropdown-content2 a:hover {
    background-color: #dcdada;
}


/* --- */
/* -- */
@media screen and (max-width: 480px) { /*Inicio breakpoint smartphones*/

 


    }/*Finalizacion breakpoint smarphones*/



@media screen and (min-width: 481px) and (max-width: 990px) { /*Inicio breakpoint tablets*/
	

    body {
        background-color: #d1d6c1;
        margin: 0; /* Elimina el margen predeterminado del cuerpo */
        padding: 0; /* Elimina el relleno predeterminado del cuerpo */
        background-image: url('https://github.com/MarcoNu97/Proyecto_CAJL/blob/main/Interfaz%20Principal/ImagenesHome/Interior%20del%20Club.jpg?raw=true');
        background-size: cover; /* Escalar la imagen para cubrir toda la pantalla */
        background-position: center; /* Centrar la imagen */
        background-attachment: fixed; /* Fijar el fondo para que se mantenga en su lugar al desplazarse */
        background-repeat: no-repeat;
    }
    
    
    nav {
        background: linear-gradient(#fcfcfc, #ff1717);
        background-repeat: no-repeat;
        position: fixed;
        top: 0;
        width: 100%;
        height: 82px;
        border-radius: 0px 0px 15px 15px;
        transition: top 0.3s;
        z-index: 999; /* Asegura que la barra de navegación esté en la parte superior */
    }
    
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    
    nav ul li {
        text-align: center;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #363131;
    }
    
    .content {
        margin-top: 82px;
    }
    
    .centrado {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
    #ContenedorMenu {
        background-color: #f3f3f3;
        background-repeat: no-repeat;
        height: 77px;
        display: grid;
        grid-template-columns: 80px 2.5fr 1fr 1fr 1.5fr 1fr 0.2fr;
        grid-template-rows: 100%;
        margin-top: 0px;
        padding: 0px;
        border-radius: 0px 0px 20px 20px;
    }
    
    .ItemMenu {
         list-style-type: none;
         width: 6rem;
         height: 98%;
    
      }
    
    
      .h:hover {
    
        background-color: transparent;
        color:  #f71919;
        transition: all 0.3s;
        border-radius: 0;
    
      }
    
       .M2 {
            font-weight: bold;
            font-size: 18px;
            width: 8rem;
      } 
    
    .LogoMenu {
    
            height: 65px;
    
    }
    
    .Logo {
        border-radius: 0px 0px 0px 20px;
    }
    
    .Texto {
        padding: 0;
        font-size: 18px;
        width: 17rem;
        font-weight: bold;
        color: #000000;
        text-shadow: 1px 2px 3px grey;
    }
    
    .Tx{
        font-size: 19px;
        width: 19rem;
        margin-top: 25%;
    
    }
    
    .CerrarS{
        width: 10rem;
    }
    
    
    .LinkGuia {
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
    }
    
    .LinkGuia:hover {
        color: rgb(156, 144, 231);
        transition: all 0.3s;
        text-decoration: underline;
    }
    
    
    .Home_container {
    
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
           
    }
    
    .ImagenHome {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
        width: 15rem;
        height: 17rem;
    
    }
    
    .PalabrasHome {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        color: #f01515;
        margin-bottom: 5px;
    }
    
    /* Estilos del botón del menú desplegable */
    /* ---- */
    #preciosLink {
        width: 157px; /* Ajusta el ancho a tu preferencia */
        height: 40px; /* Ajusta la altura a tu preferencia */
        line-height: 30px; /* Centra el texto verticalmente */
        text-align: start;
        background-color: transparent;
        color: #363131;
        transition: all 0.3s;
        border-radius: 2px; /* Puedes ajustar esto para bordes redondeados */
        font-size: 13px; /* Tamaño del texto */
        text-decoration: none; /* Quita la decoración de enlace */
    }
    
    #preciosLink:hover{
        background-color: #dbd9d9;
        color: #f01515;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 157px;
        height: 80px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: 167px;
        margin-left: 0;
        border-radius: 0 0 5px 5px;
    
    }
    
    .dropdown-content a {
        color: black;
        padding: 2px 4px;
        text-decoration: none;
        display: block;
    }
    
    /* Cambiar el color de fondo de los enlaces cuando pasas el ratón sobre ellos */
    .dropdown-content a:hover {
        background-color: #dcdada;
    }
    
    
    .cobrosLink {
        width: 150px; /* Ajusta el ancho a tu preferencia */
        height: 40px; /* Ajusta la altura a tu preferencia */
        line-height: 30px; /* Centra el texto verticalmente */
        text-align: start;
        background-color: transparent;
        color: #363131;
        transition: all 0.3s;
        border-radius: 2px; /* Puedes ajustar esto para bordes redondeados */
        font-size: 13px; /* Tamaño del texto */
        text-decoration: none; /* Quita la decoración de enlace */
    }
    
    .cobrosLink:hover{
        background-color: #dbd9d9;
        color: #f01515;
    }
    
    /* -- */
    /* Estilos para los enlaces del menú desplegable */
    .dropdown-content2 {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 150px;
        height: 80px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: 167px;
        margin-left: 30px;
        border-radius: 0 0 5px 5px;
    
    }
    
    .dropdown-content2 a {
        color: black;
        padding: 2px 4px;
        text-decoration: none;
        display: block;
    }
    
    /* Cambiar el color de fondo de los enlaces cuando pasas el ratón sobre ellos */
    .dropdown-content2 a:hover {
        background-color: #dcdada;
    }
    


}/*Finalizacion breakpoint tablets*/



@media screen and (min-width: 1700px) { /*Inicio breakpoint Monitores*/





 nav {
        background: linear-gradient(#fcfcfc, #ff1717);
        background-repeat: no-repeat;
        position: fixed;
        top: 0;
        width: 100%;
        height: 98px;
        border-radius: 0px 0px 15px 15px;
        transition: top 0.3s;
        z-index: 999; /* Asegura que la barra de navegación esté en la parte superior */
    }

nav ul li a {
    text-decoration: none;
    height: 98%;
    width: 90px;
    color: #363131;
 
}

.centrado {
    display: grid;
    justify-content: center;
    align-items: center;
}

#ContenedorMenu {

    background-repeat: no-repeat;
    height: 93px;
    display: grid;
    grid-template-columns: 80px 2.5fr 1fr 1fr 1.5fr 1fr 0.2fr;
    grid-template-rows: 100%;
    margin-top: 0px;
    padding: 0px;
    border-radius: 0px 0px 25px 25px;
}

.ItemMenu {
     list-style-type: none;
     width: 6rem;
     height: 98%;

  }

  .h:hover {

    background-color:  #f3f3f3;;
    color:  #ff0f0f;
    transition: all 0.3s;
    border-radius: 20px 20px 20px 20px;

  }

   .M2 {
        border: 0.1px solid rgba(235, 62, 62, -0.2);
        font-weight: bold;
        font-size: 23px;
        width: 9rem;
  } 

.LogoMenu {

        height: 85px;

}

.Logo {
    background-color: transparent;
    border-radius: 0px 0px 0px 20px;
}

.Texto {
    padding: 0;
    font-size: 25px;
    width: 26rem;
    font-weight: bold;
    text-shadow: 1px 2px 3px grey;
}
.Tx{
    font-size: 25px;
    width: 28rem;
    margin-top: 0 !important;

}

.CerrarS{
    width: 15rem;
}


#preciosLink {
    width: 190px; /* Ajusta el ancho a tu preferencia */
    height: 40px; /* Ajusta la altura a tu preferencia */
    line-height: 30px; /* Centra el texto verticalmente */
    text-align: start;
    background-color: transparent;
    color: #363131;
    transition: all 0.3s;
    border-radius: 2px; /* Puedes ajustar esto para bordes redondeados */
    font-size: 14px; /* Tamaño del texto */
    text-decoration: none; /* Quita la decoración de enlace */
}
.cobrosLink {
    width: 190px; /* Ajusta el ancho a tu preferencia */
    height: 40px; /* Ajusta la altura a tu preferencia */
    line-height: 30px; /* Centra el texto verticalmente */
    text-align: start;
    background-color: transparent;
    color: #363131;
    transition: all 0.3s;
    border-radius: 2px; /* Puedes ajustar esto para bordes redondeados */
    font-size: 14px; /* Tamaño del texto */
    text-decoration: none; /* Quita la decoración de enlace */
}
/* -- */
/* Estilos para el contenedor del menú desplegable */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    height: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 180px;
    margin-left: 0;
    border-radius: 0 0 5px 5px;

}
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    height: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 180px;
    margin-left: 0;
    border-radius: 0 0 5px 5px;

}

.LinkGuia {
    background-color: #fcfcfc;
    font-size: 28px;
    font-weight: bold;
    color: #fcfcfc;
    text-decoration: none;
}

.LinkGuia:hover {
    color: #fcfcfc;
    transition: all 0.3s;
    text-decoration: underline;
}


.Home_container {

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
       
}

.ImagenHome {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 35px;
    width: 25rem;
    height: 25rem;

}

.PalabrasHome {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #eb1212;
    margin-bottom: 8px;
    text-shadow: 1px 2px 3px rgb(0, 0, 0);
}
	
	}/*Finalizacion breakpoint Monitores*/  