{% extends 'loginregister/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <!-- Agrega tus estilos y referencias necesarias aquí -->
</head>

<body>
    <section class="Home_container">
        <div class="centrado">
            <h1 class="PalabrasHome">Oops! Página no encontrada</h1>
            <p class="PalabrasHome">Lo sentimos, la página que estás buscando no existe.</p>
        </div>
    </section>
</body>
</html>
{% endblock %}



