{% extends 'loginregister/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Página inaccesible</title>
    <!-- Agrega tus estilos y referencias necesarias aquí -->
</head>

<body>
    <section class="Home_container">
        <div class="centrado">
            <h1 class="PalabrasHome">Lo siento, esta página no está disponible.</h1>
            <p class="PalabrasHome">El acceso la página de Usuarios requiere permisos adicionales.</p>
        </div>
    </section>
</body>
</html>
{% endblock %}