{% extends 'loginregister/home.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Usuarios del sistema.</title>
    
    <link rel="stylesheet" type="text/css" href={% static 'css/Estilos_DT.css' %} media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">

</head>
<br>
<br>
<br>
<br>
<body>

    <div class="container h-60 my-4">
        <div class="row">
            <div class="col-xl-12 bg-secondary bg-gradient bg-opacity-50">
                <h2>Tabla de usuarios del sistema</h2>
                <table id="user-table" class="display table table-striped">
                    <thead>
                        <tr class="bg-danger bg-gradient">
                            <th class="centered bg-danger bg-gradient">Nombre de usuario</th>
                            <th class="centered bg-danger bg-gradient">Nombre/s</th>
                            <th class="centered bg-danger bg-gradient">Apellido/s</th>
                            <th class="centered bg-danger bg-gradient">Email</th>
                            <th class="centered bg-danger bg-gradient">Usuario activo</th>
                            <th class="centered bg-danger bg-gradient"></th>
                        </tr>
                    </thead>
                    <tbody class="bg-light bg-gradient">
                        {% for user in users %}
                            <tr>
                                <td class="centered">{{ user.username }}</td>
                                <td class="centered">{{ user.first_name }}</td>
                                <td class="centered">{{ user.last_name }}</td>
                                <td class="centered">{{ user.email }}</td>
                                <td class="centered">
                                    {% if user.is_active %}
                                    <i class="fas fa-check text-success"> si</i>  <!-- Icono de tilde verde -->
                                    {% else %}
                                    <i class="fas fa-times text-danger"> no</i>  <!-- Icono de cruz roja -->
                                    {% endif %}
                                </td>
                                <td class="centered">
                                    <a href={% url 'user_details' user.id %} class="btn btn-sm btn-primary btn-custom-width">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </td>


                                

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
        $('#user-table').DataTable({
            ordering: false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json" // Reemplaza con la URL correcta si es necesario
            }
            
        });
    });
    </script>

</body>
</html>
{% endblock %}