{% extends 'loginregister/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href={% static 'css/EstilosForm.css' %}>
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <form method="post">
    <div class="card mx-auto" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">Detalle de la actividad</h5>
          {% csrf_token %}
    
          {{ form | crispy }}
    
          <button type="submit" name="editar" class="btn btn-primary" id="actualizar-actividad">Guardar Cambios</button>
          <button type="submit" name="eliminar" class="btn btn-danger" id="eliminar-actividad">Eliminar Actividad</button>
        </div>
      </div>
    </form>
</body>

<script>
document.getElementById('eliminar-actividad').addEventListener('click', function(event) {
    if (confirm('¿Estás seguro de que deseas eliminar esta actividad?')) {
        // Continuar con la eliminación
        return true;
    } else {
        // Cancelar la eliminación
        event.preventDefault(); // Evitar que el formulario se envíe
        return false;
    }
});

document.getElementById('actualizar-actividad').addEventListener('click', function(event) {
    if (confirm('La actividad ha sido actualizada')) {
        // Redirección al inicio.
        return true;
    } else {
        return true;
    }
});
</script>
</html>


    
{% endblock %}