{% extends 'loginregister/base.html' %}
{% block content %}
{% load crispy_forms_tags %}


<br>
<br>
<br>
<br>

<!DOCTYPE html>
<html>
<head>
    <title>Detalle del socio</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.es.min.js"></script>
</head>
<body>
    <form method="post">
    <div class="card mx-auto" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">Detalle del socio</h5>
          {% csrf_token %}
    
          {{ form | crispy }}
          {{ form.media }}
    
          <div class="text-center">
            <button type="submit" name="editar" class="btn btn-primary" id="actualizar-socio">Guardar Cambios</button>
        </div>
        </div>
      </div>
    </form>
</body>

<script>

document.getElementById('actualizar-socio').addEventListener('click', function(event) {
    if (confirm('El socio ha sido actualizado')) {
        // Redirección al inicio.
        return true;
    } else {
        return true;
    }
});
</script>
</html>


    
{% endblock %}
    

