{% extends 'loginregister/base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <title>Historial de Cambios</title>

    <link rel="stylesheet" type="text/css" href={% static 'css/Estilos_DT.css' %} media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
 
</head>

<body>
<br>
<br>
<br>
<br>
<!-- <section class="Contenedor"> -->

    <div class="container h-60 my-4">
        <div class="row">
         <div class="col-xl-12 bg-secondary bg-gradient bg-opacity-50">
            <h1>Tabla de Socios</h1>
                <table id="tabla-socios-localidades" class="display table table-striped">
                        <button class="btn btn-primary" id="btn_Socios2"><i class="fa-solid fa-user-plus"></i> Nuevo Socio</button>
                        <thead>
                            <tr class="bg-danger bg-gradient">
                                <th class="centered bg-danger bg-gradient">Nº de Socio</th>
                                <th class="centered bg-danger bg-gradient">Nombre Completo</th>
                                <th class="centered bg-danger bg-gradient">DNI</th>
                                <th class="centered bg-danger bg-gradient">Fecha de Nacimiento</th>
                                <th class="centered bg-danger bg-gradient">Actividades</th>
                                <!-- <th class="centered">Distrito</th> -->
                                <!-- <th class="centered">Ultimo pago</th> -->
                                <th class="centered bg-danger bg-gradient">Fichado</th>
                                <th class="centered bg-danger bg-gradient">Socio Activo</th>
                                <th class="centered">Apto Físico</th>
                                <th class="centered bg-danger bg-gradient">Último mes pago</th>
                                <th class="centered bg-danger bg-gradient"></th>
                                <!-- <th class="centered">Correo</th> -->
                                <!-- <th class="centered">Descripción</th> -->
                                
                                <!-- <th class="centered">Fecha de Vencimiento del Apto Físico</th> -->
                                <!-- <th class="centered">Compite</th>
                                <th class="centered">Socio Activo</th> -->
                            </tr>
                        </thead>
                        <tbody  class="bg-light bg-gradient">
                                {% for item in data %}
                            <tr>
                                <td class="centered">{{ item.id }}</td>   
                                <td class="centered">{{ item.nombre_completo }}</td>
                                <td class="centered">{{ item.dni }}</td>
                                <td class="centered">{{ item.fecha_nacimiento }}</td>
                                <td class="centered">{% for actividad in item.actividades.all %}{{ actividad.nombre_actividad }} ,{% endfor %}
                                </td>
                                <!-- <td>{{ item.distrito }}</td> -->
                                <!-- <td>{{ item.ultimo_pago }}</td> -->
                                <td class="centered">
                                    {% if item.compite %}
                                    <i class="fas fa-check text-success"> si</i>  <!-- Icono de tilde verde -->
                                    {% else %}
                                    <i class="fas fa-times text-danger"> no</i>  <!-- Icono de cruz roja -->
                                    {% endif %}
                                </td>
                                <td class="centered">
                                    {% if item.socio_activo %}
                                    <i class="fas fa-check text-success"> si</i>  <!-- Icono de tilde verde -->
                                    {% else %}
                                    <i class="fas fa-times text-danger"> no</i>  <!-- Icono de cruz roja -->
                                    {% endif %}
                                </td>
                                <td class="centered">
                                    {% if item.apto_fisico %}
                                    <i class="fas fa-check text-success"> si</i>  <!-- Icono de tilde verde -->
                                    {% else %}
                                    <i class="fas fa-times text-danger"> no</i>  <!-- Icono de cruz roja -->
                                    {% endif %}
                                </td>
                                <td class="centered">
                                    {% if item.ultimo_pago %}
                                        {{ item.ultimo_pago }}
                                    {% else %}
                                        No hay información de pago
                                    {% endif %}
                                </td>
                                <!-- <td>{{ item.telefono1 }}</td> -->
                                <!-- <td>{{ item.telefono2 }}</td> -->
                                <!-- <td>{{ item.correo }}</td> -->
                                <!-- <td>{{ item.descripcion }}</td> -->
                                
                                <!-- <td>{{ item.fecha_vencimiento_apto_fisico }}</td> -->
                                <!-- <td>{{ item.compite }}</td> -->
                        
                                <td class="centered">
                                    <a href={% url 'detalles' item.id %} class="btn btn-sm btn-primary btn-custom-width">
                                    <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </td>
                            </tr>
                                    {% endfor %}
                        </tbody>
          
            </table>
         </div> 
        </div>
    </div>
<!-- </section> -->

<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <!-- Include the DataTables Bootstrap JavaScript -->
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<!-- EXCEL y BUTTONS -->

<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"></script>


<script>
    $(document).ready(function () {
     var table = $('#tabla-socios-localidades').DataTable({
         dom: '<"row"<"col-md-3"l><"col-md-6"f><"col-md-3"B>>rtip',
         ordering: false,
         language: {
             url: "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
         },
         buttons: [
             {
                 extend: 'excelHtml5',
                 text: '<i class="fa-regular fa-file-excel"></i> Exportar a Excel',
                 className: 'btn btn-success btn-excel'
             }
         ]
     });
     $('#btn_Socios2').click(function() {
            window.location.href = '{% url "agregar_socio" %}';
        }); 
 });
 </script>
</body>

</html>
{% endblock %}

<!--

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

-->